/*
* CSS for using within Elementor plugin for LivIcons dialog box
*/

#lievo-dialog-wrap {
  max-width: 1230px!important;
}
#lievo-dialog {
  max-width: initial!important;
}

.form-table td.imgedit-response {
  padding: 0
}
.form-table td .notice p,.notice p,.notice-title,div.error p,div.updated p {
  margin: .5em 0;
  padding: 2px
}
@-moz-document url-prefix() {
  .form-table input.tog,input[type=checkbox],input[type=radio] {
    margin-bottom: -1px
  }
}
.form-table .form-required.form-invalid td:after {
  content: "\f534";
  font: normal 20px/1 dashicons;
  color: #dc3232;
  margin-left: -25px;
  vertical-align: middle
}

.form-table .form-required.user-pass1-wrap.form-invalid td:after {
  content: ""
}

.form-table .form-required.user-pass1-wrap.form-invalid .password-input-wrapper:after {
  content: "\f534";
  font: normal 20px/1 dashicons;
  color: #dc3232;
  margin: 0 6px 0 -29px;
  vertical-align: middle
}
table.form-table+input+input+p.submit,table.form-table+input+p.submit,table.form-table+p.submit {
  border-top: none;
  padding-top: 0
}
.form-table span.description.important {
  font-size: 12px
}
.form-table {
  border-collapse: collapse;
  margin-top: .5em;
  width: 100%;
  clear: both
}

.form-table,.form-table td,.form-table td p,.form-table th {
  font-size: 14px
}

.form-table td {
  margin-bottom: 9px;
  padding: 15px 10px;
  line-height: 1.3;
  vertical-align: middle
}

.form-table th,.form-wrap label {
  color: #23282d;
  font-weight: 400;
  text-shadow: none;
  vertical-align: baseline
}

.form-table th {
  vertical-align: top;
  text-align: left;
  padding: 20px 10px 20px 0;
  width: 200px;
  line-height: 1.3;
  font-weight: 600
}

.form-table .td-full,.form-table th.th-full {
  width: auto;
  padding: 20px 10px 20px 0;
  font-weight: 400
}

.form-table td p {
  margin-top: 4px;
  margin-bottom: 0
}

.form-table .date-time-doc {
  margin-top: 1em
}

.form-table p.timezone-info {
  margin: 1em 0
}

.form-table td fieldset label {
  margin: .25em 0 .5em!important;
  display: inline-block
}

.form-table td fieldset label,.form-table td fieldset li,.form-table td fieldset p {
  line-height: 1.4em
}

.form-table input.tog,.form-table input[type=radio] {
  margin-top: -4px;
  margin-right: 4px;
  float: none
}

.form-table .pre {
  padding: 8px;
  margin: 0
}

table.form-table td .updated {
  font-size: 13px
}

table.form-table td .updated p {
  font-size: 13px;
  margin: .3em 0
}

#profile-page .form-table textarea {
  width: 500px;
  margin-bottom: 6px
}

#profile-page .form-table #rich_editing {
  margin-right: 5px
}

@media screen and (max-width: 782px) {
  .form-table {
    box-sizing: border-box
  }

  .form-table td,.form-table th,.label-responsive {
    display: block;
    width: auto;
    vertical-align: middle
  }

  .label-responsive {
    margin: .5em 0
  }

  .export-filters li {
    margin-bottom: 0
  }

  .form-table .color-palette td {
    display: table-cell;
    width: 15px
  }

  .form-table table.color-palette {
    margin-right: 10px
  }

  input,textarea {
    font-size: 16px
  }

  #profile-page .form-table textarea,.form-table span.description,.form-table td input[type=email],.form-table td input[type=password],.form-table td input[type=text],.form-table td select,.form-table td textarea {
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    padding: 7px 10px;
    display: block;
    max-width: none;
    box-sizing: border-box
  }

  .form-table .form-required.form-invalid td:after {
    float: right;
    margin: -30px 3px 0 0
  }

  #wpbody .form-table td select {
    height: 40px
  }

  .form-table input[type=text].small-text,input[type=number].small-text,input[type=password].small-text,input[type=search].small-text,input[type=text].small-text {
    width: auto;
    max-width: 4.375em;
    display: inline;
    padding: 3px 6px;
    margin: 0 3px
  }
  .form-table span.description {
    display: inline;
    padding: 4px 0 0;
    line-height: 1.4em;
    font-size: 14px
  }

  .form-table th {
    padding-top: 10px;
    padding-bottom: 0;
    border-bottom: 0
  }

  .form-table td {
    margin-bottom: 0;
    padding-bottom: 6px;
    padding-top: 4px;
    padding-left: 0
  }

  .form-table.permalink-structure td code {
    margin-left: 32px
  }

  .form-table.permalink-structure td input[type=text] {
    margin-left: 32px;
    margin-top: 4px;
    width: 96%
  }

  .form-table input.regular-text {
    width: 100%
  }

  .form-table label {
    font-size: 14px
  }

  .form-table fieldset label {
    display: block
  }
}
input[type=number].small-text {
  width: 65px;
}
input.small-text {
  width: 50px;
  padding: 1px 6px;
}
input[type=number] {
  height: 28px;
  line-height: 1;
}
input[type=checkbox], input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=radio], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
  background-color: #fff;
  color: #32373c;
  outline: 0;
  transition: 50ms border-color ease-in-out;
}
input, select {
  margin: 1px;
  padding: 3px 5px;
}
input, select, textarea {
  font-size: 14px;
  padding: 3px 5px;
  border-radius: 0;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
input, textarea {
  box-sizing: border-box;
}
#opt-eraseEase, #opt-drawEase, #opt-add-id, #opt-add-class {
  width: 200px;
}
input[type=radio] {
  box-shadow: none;
}
.lievo-default-link {
  top: 0px!important; 
}
#elementor-controls #lievo-add-button {
  height: auto;
  line-height: 24px;
  font-size: 10px;
}